*.ipch
*.VC.db
x64/
/x64/Debug
/x64
/x64
/out
/RenderEngine/out
.vs/RenderEngine/v17/Browse.VC.db
.vs/RenderEngine/v17/Browse.VC.db
.vs/RenderEngine/v17/Solution.VC.db
.vs/RenderEngine/v17/Browse.VC.db
.vs/RenderEngine/v17/Solution.VC.db
.vs/RenderEngine/v17/Browse.VC.db
.vs/RenderEngine/v17/Solution.VC.db
.vs/RenderEngine/v17/Browse.VC.db
